<div class="card">
  <h4 class="card-header">
    <span class="badge badge-warning" *ngIf="veiculo?.vendido === true; else tagVencido">Vendido</span>
    <ng-template #tagVencido>
    </ng-template>

    <button class="btn btn-danger btn-sm float-right" (click)="deletarVeiculo()"><i class="fa fa-trash"></i> Excluir</button>
    <button class="btn btn-success btn-sm float-right mr-2" [routerLink]="['/veiculos/editar', idVeiculo]"><i class="fa fa-edit"></i> Editar</button>
  </h4>
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-right">
            <img class="card-img-top" [src]="veiculo?.imagePath" *ngIf="veiculo?.imagePath; else noImagePath">
            <ng-template #noImagePath>
              <img class="card-img-top" src="./../../../assets/img/noImagePath.jpg">
            </ng-template>
          </div>
          <div class="col-md-8 my-auto">
            <div><span class="font-weight-bold">Nome:</span> {{veiculo?.modelo}}</div>
            <div><span class="font-weight-bold">Marca:</span> {{veiculo?.marca}}</div>
            <div><span class="font-weight-bold">Ano:</span> {{veiculo?.ano}}</div>
            <div><span class="font-weight-bold">Preço:</span> {{veiculo?.preco | currency: 'BRL': 'symbol'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>
              Propostas
              <button class="btn btn-success btn-sm float-right" [routerLink]="['/propostas/add-proposta', veiculo?.id]"><i
                  class="fa fa-plus"></i> Cadastrar Proposta</button>
            </h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data</th>
                  <th class="text-right">Valor</th>
                  <th class="text-right">Ações</th>
                </tr>
              </thead>
              <tbody *ngFor="let itemProposta of veiculo?.proposta">
                <tr>
                  <td>{{itemProposta?.nomeCliente}}</td>
                  <td>{{itemProposta?.dataProposta | amDateFormat: 'DD/MM/YYYY'}}</td>
                  <td class="text-right">{{itemProposta?.valor | currency: 'BRL': 'symbol'}}</td>
                  <td class="text-right">
                    <button class="btn btn-success btn-sm mr-1" [routerLink]="['/propostas/editar-proposta', itemProposta?.id]"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deletarProposta(itemProposta.id)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
