<div class="card jumbotron bg-light">
  <div class="card-body text-center">
    <h1 class="card-title font-weight-bold">Bem vindo ao Venda Veículo!</h1>
    <h2 class="card-text font-weight-light">Procurando um veículo?</h2>
    <a [routerLink]="'/veiculos'" class="btn btn-outline-primary btn-lg mt-4">Encontre o seu aqui</a>
  </div>
</div>
