<div class="card">
  <div class="card-header">
    <h4>Veículos
      <button class="btn btn-primary btn-sm float-right" [routerLink]="'/veiculos/add-veiculo'"><i class="fa fa-plus"></i>
        Cadastrar Veículo
      </button>
    </h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3" *ngFor="let veiculo of veiculos">
        <app-veiculo-card [veiculo]="veiculo"></app-veiculo-card>
      </div>
      <div class="col-xs-12" *ngIf="veiculos?.length === 0">
        <p class="lead text-center">
          Não foram encontrados itens para sua busca.
        </p>
      </div>
    </div>
  </div>
</div>
